body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body > div {
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  color: #f9faf8;
  background-color: #1f2937;
}

header > div:nth-child(2) {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

p {
  margin: 10px 0;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 8px;
}

#sub-container-one {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 30px;
  padding: 30px 0;
}

#sub-container-one > div {
  width: 400px;
}

#sub-container-one > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#sub-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sub-container-two > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  width: 125px;
}

.empty-box {
  width: 125px;
  height: 125px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}

#sub-container-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

#sub-container-three > p {
  width: 600px;
}

#sub-container-three > p:nth-child(2) {
  text-align: right;
}

#sub-container-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-container-four > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
  width: 800px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: #1f2937;
}

header,
footer {
  padding: 18px 0;
}
